.content {
    position: absolute;
    top: 90px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    overflow: auto;
    min-width: 750px;
    box-shadow: 0 2px 5px #ddd;
}

.ui-button {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-out,border-color .3s ease-out
}

.ui-button.radius {
    border-radius: 4px
}

.ui-button.round {
    border-radius: 1000px
}

.ui-button.circle {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%
}

.ui-button .ui-icon+span,.ui-button span+.ui-icon {
    margin-left: 3.2px
}

.ui-button.disabled,.ui-button:disabled {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none
}

.ui-button.block {
    width: 100%;
    display: block
}

.ui-button.size-xl {
    padding: 0 14px;
    font-size: 18px;
    height: 40px;
    line-height: 38px
}

.ui-button.size-xl.radius {
    border-radius: 6px
}

.ui-button.size-xl.round {
    border-radius: 1000px
}

.ui-button.size-xl.circle {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    border-radius: 50%
}

.ui-button.size-xl .ui-icon+span,.ui-button.size-xl span+.ui-icon {
    margin-left: 4px
}

.ui-button.size-lg {
    padding: 0 12px;
    font-size: 16px;
    height: 36px;
    line-height: 34px
}

.ui-button.size-lg.radius {
    border-radius: 5px
}

.ui-button.size-lg.round {
    border-radius: 1000px
}

.ui-button.size-lg.circle {
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 18px;
    border-radius: 50%
}

.ui-button.size-lg .ui-icon+span,.ui-button.size-lg span+.ui-icon {
    margin-left: 3.6px
}

.ui-button.size-sm {
    padding: 0 8px;
    font-size: 14px;
    height: 40px;
    line-height: 26px
}

.ui-button.size-sm.radius {
    border-radius: 4px
}

.ui-button.size-sm.round {
    border-radius: 1000px
}

.ui-button.size-sm.circle {
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%
}

.ui-button.size-sm .ui-icon+span,.ui-button.size-sm span+.ui-icon {
    margin-left: 2.8px
}

.ui-button.size-xs {
    padding: 0 4px;
    font-size: 12px;
    height: 24px;
    line-height: 22px
}

.ui-button.size-xs.radius {
    border-radius: 4px
}

.ui-button.size-xs.round {
    border-radius: 1000px
}

.ui-button.size-xs.circle {
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%
}

.ui-button.size-xs .ui-icon+span,.ui-button.size-xs span+.ui-icon {
    margin-left: 2.4px
}

.ui-button.theme-default {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #333
}

.ui-button.theme-default.focus,.ui-button.theme-default:focus,.ui-button.theme-default:hover {
    background-color: #cdcdcd;
    border-color: #c7c7c7;
    color: #333
}

.ui-button.theme-default.active,.ui-button.theme-default:active {
    background-color: #cdcdcd;
    border-color: #c7c7c7;
    color: #333;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.ui-button.theme-default.active.focus,.ui-button.theme-default.active:focus,.ui-button.theme-default.active:hover,.ui-button.theme-default:active.focus,.ui-button.theme-default:active:focus,.ui-button.theme-default:active:hover {
    background-color: #bbb;
    border-color: #a6a6a6;
    color: #333
}

.ui-button.theme-default.disabled,.ui-button.theme-default:disabled {
    cursor: not-allowed
}

.ui-button.theme-default.disabled.focus,.ui-button.theme-default.disabled:focus,.ui-button.theme-default.disabled:hover,.ui-button.theme-default:disabled.focus,.ui-button.theme-default:disabled:focus,.ui-button.theme-default:disabled:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6
}

.ui-button.theme-info {
    background-color: #2db7f5;
    border-color: #2db7f5;
    color: #fff
}

.ui-button.theme-info.focus,.ui-button.theme-info:focus,.ui-button.theme-info:hover {
    background-color: #0ba1e4;
    border-color: #0a9ada;
    color: #fff
}

.ui-button.theme-info.active,.ui-button.theme-info:active {
    background-color: #0ba1e4;
    border-color: #0a9ada;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.ui-button.theme-info.active.focus,.ui-button.theme-info.active:focus,.ui-button.theme-info.active:hover,.ui-button.theme-info:active.focus,.ui-button.theme-info:active:focus,.ui-button.theme-info:active:hover {
    background-color: #0989c2;
    border-color: #076d9b;
    color: #fff
}

.ui-button.theme-info.disabled,.ui-button.theme-info:disabled {
    cursor: not-allowed
}

.ui-button.theme-info.disabled.focus,.ui-button.theme-info.disabled:focus,.ui-button.theme-info.disabled:hover,.ui-button.theme-info:disabled.focus,.ui-button.theme-info:disabled:focus,.ui-button.theme-info:disabled:hover {
    background-color: #2db7f5;
    border-color: #2db7f5
}

.ui-button.theme-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff
}

.ui-button.theme-success.focus,.ui-button.theme-success:focus,.ui-button.theme-success:hover {
    background-color: #449d44;
    border-color: #419641;
    color: #fff
}

.ui-button.theme-success.active,.ui-button.theme-success:active {
    background-color: #449d44;
    border-color: #419641;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.ui-button.theme-success.active.focus,.ui-button.theme-success.active:focus,.ui-button.theme-success.active:hover,.ui-button.theme-success:active.focus,.ui-button.theme-success:active:focus,.ui-button.theme-success:active:hover {
    background-color: #398439;
    border-color: #2d672d;
    color: #fff
}

.ui-button.theme-success.disabled,.ui-button.theme-success:disabled {
    cursor: not-allowed
}

.ui-button.theme-success.disabled.focus,.ui-button.theme-success.disabled:focus,.ui-button.theme-success.disabled:hover,.ui-button.theme-success:disabled.focus,.ui-button.theme-success:disabled:focus,.ui-button.theme-success:disabled:hover {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.ui-button.theme-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff
}

.ui-button.theme-warning.focus,.ui-button.theme-warning:focus,.ui-button.theme-warning:hover {
    background-color: #ec971f;
    border-color: #eb9316;
    color: #fff
}

.ui-button.theme-warning.active,.ui-button.theme-warning:active {
    background-color: #ec971f;
    border-color: #eb9316;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.ui-button.theme-warning.active.focus,.ui-button.theme-warning.active:focus,.ui-button.theme-warning.active:hover,.ui-button.theme-warning:active.focus,.ui-button.theme-warning:active:focus,.ui-button.theme-warning:active:hover {
    background-color: #d58512;
    border-color: #b06d0f;
    color: #fff
}

.ui-button.theme-warning.disabled,.ui-button.theme-warning:disabled {
    cursor: not-allowed
}

.ui-button.theme-warning.disabled.focus,.ui-button.theme-warning.disabled:focus,.ui-button.theme-warning.disabled:hover,.ui-button.theme-warning:disabled.focus,.ui-button.theme-warning:disabled:focus,.ui-button.theme-warning:disabled:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.ui-button.theme-error {
    background-color: #f50;
    border-color: #f50;
    color: #fff
}

.ui-button.theme-error.focus,.ui-button.theme-error:focus,.ui-button.theme-error:hover {
    background-color: #c40;
    border-color: #c24100;
    color: #fff
}

.ui-button.theme-error.active,.ui-button.theme-error:active {
    background-color: #c40;
    border-color: #c24100;
    color: #fff;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.ui-button.theme-error.active.focus,.ui-button.theme-error.active:focus,.ui-button.theme-error.active:hover,.ui-button.theme-error:active.focus,.ui-button.theme-error:active:focus,.ui-button.theme-error:active:hover {
    background-color: #a83800;
    border-color: #802b00;
    color: #fff
}

.ui-button.theme-error.disabled,.ui-button.theme-error:disabled {
    cursor: not-allowed
}

.ui-button.theme-error.disabled.focus,.ui-button.theme-error.disabled:focus,.ui-button.theme-error.disabled:hover,.ui-button.theme-error:disabled.focus,.ui-button.theme-error:disabled:focus,.ui-button.theme-error:disabled:hover {
    background-color: #f50;
    border-color: #f50
}


.page-product-list {
    padding-left: 20px;
    padding-right: 20px;
    position: relative
}

.page-product-list h1 {
    font-weight: 400;
    font-size: 20px;
    padding: 20px
}

.page-product-list .ui-tab {
    position: relative
}

.page-product-list .ui-tab:after {
    content: "";
    display: block;
    clear: both
}

.page-product-list .ui-tab-head {
    padding: 10px 0;
    border-bottom: none;
    width: 85%;
    display: inline-block
}

.page-product-list .ui-tab-head:after {
    content: "";
    clear: both;
    display: block
}

.page-product-list .ui-tab-head .ui-tab-head-item {
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ddd;
    color: #383838;
    border-radius: 4px;
    padding: 5px 10px;
    background: #fff;
    margin-right: 15px;
    min-width: 130px;
    list-style: none;
}

.page-product-list .ui-tab-head .active {
    border: 1px solid #00aff9;
    color: #00aff9
}

.page-product-list .more-btn {
    position: absolute;
    right: 0;
    width: 100px;
    height: 50px
}

.page-product-list .list-item-wrap {
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    list-style: none;
}

.page-product-list .list-item-wrap:first-child {
    margin-top: 0
}

.page-product-list .list-item-wrap .icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    z-index: 11
}

.page-product-list .list-item-left {
    position: relative;
    vertical-align: middle
}

.page-product-list .list-item-left .item-img-wrap {
    width: 24%;
    float: left;
    overflow: hidden;
    position: relative
}

.page-product-list .list-item-left .item-img-wrap img {
    width: 100%;
    /*height: 100%*/
}

.page-product-list .list-item-left .item-product {
    float: left;
    margin-left: 20px;
    width: 60%
}

.page-product-list .list-item-left .item-product h3 {
    font-size: 20px
}

.page-product-list .list-item-left .item-product li {
    padding-left: 10px;
    position: relative
}

.page-product-list .list-item-left .item-product li:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: #000;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    top: 7px;
    left: 2px
}

.page-product-list .list-item-left .item-product .product-rule {
    margin: 5px 0
}

.page-product-list .list-item-left .item-product .icon-color {
    /*color: "#99dffc";*/
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 7px;
    /*vertical-align: top;*/
    background: url("http://static.iyunbao.com/website/health/pc/assets/images/right.png") no-repeat;
    background-size: cover
}

.page-product-list .list-item-left .item-product .icon-wrap {
    display: inline-block;
    color: #999;
    font-size: 20px;
    margin-right: 20px
}

.page-product-list .list-item-left .item-product .item-detail {
    margin-top: 10px;
    font-size: 13px
}

.page-product-list .list-item-left .item-product .item-detail li {
    line-height: 20px
}

.page-product-list .list-item-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*height: 100%;*/
    border-left: 1px solid #e6e6e6
}

.page-product-list .list-item-right .list-right-wrap {
    text-align: center
}

.page-product-list .list-item-right .list-right-wrap .price {
    color: #f60;
    font-size: 24px;
    line-height: 30px
}

.page-product-list .list-item-right .list-right-wrap .price .sup {
    font-size: 13px
}

.page-product-list .list-item-right .list-right-wrap .promote {
    color: #f60;
    font-size: 13px;
    margin: 0 0 18px
}

.page-product-list .list-item-right .list-right-wrap .buttom {
    background: #00aff9;
    height: 35px;
    width: 100px;
    line-height: 35px;
    padding: 0 16px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 20px
}

.page-product-list .list-item-right .list-right-wrap .buttom:hover {
    color: #fff;
    background: #f60;
    text-decoration: none
}

.page-product-list .list-item-right .list-right-wrap .bttom {
    width: 150px
}

.page-product-list .list-close,.page-product-list .list-more {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    text-align: center;
    color: #00aff9;
    margin-bottom: 10px;
    padding: 5px 0;
    background: #fff;
    margin-right: 15px;
    width: 15%;
    font-family: dragonicon!important;
    font-style: normal;
    cursor: pointer
}

.page-product-list .list-close:before,.page-product-list .list-more:before {
    content: ""
}

.page-product-list .list-close:after,.page-product-list .list-more:after {
    content: "\E601"
}

.page-product-list .list-close:after {
    content: "\E600"
}

.page-product-list .pagination-wrap {
    position: relative;
    height: 50px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-top: 10px
}

.page-product-list .pagination-wrap .pagination-interlayer {
    position: absolute;
    top: 0;
    right: 10px
}

@media (min-width: 1201px) and (max-width:1400px) {
    .page-product-list .list-item-wrap .list-item-left {
        display:inline-block;
        width: 70%;
        min-width: 110px;
        text-align: left
    }

    .page-product-list .list-item-wrap .list-item-right {
        display: inline-block;
        width: 30%
    }
}

@media (max-width: 1200px) {
    .page-product-list .list-item-wrap .list-item-left {
        display:inline-block;
        width: 70%;
        min-width: 110px;
        text-align: left
    }

    .page-product-list .list-item-wrap .list-item-right {
        display: inline-block;
        width: 30%
    }
}

@media (max-width: 1100px) {
    .page-product-list .list-item-wrap .list-item-left {
        display:inline-block;
        width: 70%;
        min-width: 110px;
        text-align: left
    }

    .page-product-list .list-item-wrap .list-item-right {
        display: inline-block;
        width: 30%
    }
}

@media (min-width: 1100px) {
    .page-product-list .list-item-wrap .list-item-left {
        display:inline-block;
        width: 70%;
        min-width: 110px;
        text-align: left
    }

    .page-product-list .list-item-wrap .list-item-right {
        display: inline-block;
        width: 30%
    }
}

.product-list-search {
    padding-bottom: 30px;
}

.product-list-search input {
    width: 40%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #d5d9dc;
}

.product-list-search button {
    width: 10%;
    height: 50px;
    border-radius: 4px;
    background-color: #2db7f5;
    border-color: #2db7f5;
    color: #fff;
}
