* {
  outline: none !important;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

.navbar-nav {
  font-size: 12pt;
}

.main {
  padding: 20px;
}

.has-margin {
    margin: 5px 0 5px 0;
}

.popup {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 400px;
  display: none;
  margin: -200px -150px;
  border:#000 2pt solid;
}

table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
}

table thead th{
  text-align:center;
}

table tbody td{
  line-height: 24px;
  font-size: 16px;
}

.listA table thead, .listA table tr {
  border: 1px solid #DDD;
}

.listA {
  font-size: 14px;
  color: #666;
}

.listA .bottom
{
  font-size: 14px;
  text-align: center;
}

.listA table {
  border-width: 1px;
  border-style: solid;
  border: 1px solid #DDD;
}

.listA table td {
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  color: #000;
  border: 1px solid #DDD;
}

.listA table th {
  padding: 5px 10px;
  font-size: 15px;
  color: #666;
  height: 42px;
  background: #EEE;
  border: 1px solid #DDD;
}

.listC table tbody tr td {
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    height: 40px;
    color: #000;
    border-bottom: 1px solid #DDD;
}

.listC table thead tr th {
    padding: 8px 0 8px 0;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    background-color: #0AF;
    weight: 100;
    height: 40px;
    line-height: 24px;
}

.listC table thead tr th div {
    border-right: 1px solid #FFF;
}

.listC table thead tr th span a {
    color: #FFF;
}

.listC div span {
    margin-top: 10px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: #0AF;
}

.block {
    border:1px solid #CCC;
    border-radius:16px;
    display:inline-block;
    text-align:center;
    line-height:30px;
    min-width:60px;
    height:32px;
    color:#666;
    background-color:#FFF;
    padding: 0 12px 0 12px;
    margin: 4px 0 4px 5px;
}

.blockSel {
    border:1px solid #CCC;
    border-radius:16px;
    display:inline-block;
    text-align:center;
    line-height:30px;
    min-width:60px;
    height:32px;
    color:#FFF;
    background-color:#1AE;
    padding: 0 12px 0 12px;
    margin: 4px 0 4px 5px;
}

.navbar-nav .navbar-nav-console {
    margin-top: 8px;
}
